In [6]:
import pandas as pd
import time
import pymapd

In [7]:
# Query loading time for localhost Omnisci server
con = pymapd.connect(user="mapd", password="HyperInteractive", host="localhost", dbname="mapd")
con

Connection(mapd://mapd:***@35.223.201.190:6274/mapd?protocol=binary)

In [8]:
query = 'SELECT * FROM flights_2008_10k LIMIT 1'
df = pd.read_sql(query, con)
print(df.columns)
print(df)

Index(['flight_year', 'flight_month', 'flight_dayofmonth', 'flight_dayofweek',
       'deptime', 'crsdeptime', 'arrtime', 'crsarrtime', 'uniquecarrier',
       'flightnum', 'tailnum', 'actualelapsedtime', 'crselapsedtime',
       'airtime', 'arrdelay', 'depdelay', 'origin', 'dest', 'distance',
       'taxiin', 'taxiout', 'cancelled', 'cancellationcode', 'diverted',
       'carrierdelay', 'weatherdelay', 'nasdelay', 'securitydelay',
       'lateaircraftdelay', 'dep_timestamp', 'arr_timestamp', 'carrier_name',
       'plane_type', 'plane_manufacturer', 'plane_issue_date', 'plane_model',
       'plane_status', 'plane_aircraft_type', 'plane_engine_type',
       'plane_year', 'origin_name', 'origin_city', 'origin_state',
       'origin_country', 'origin_lat', 'origin_lon', 'dest_name', 'dest_city',
       'dest_state', 'dest_country', 'dest_lat', 'dest_lon', 'origin_merc_x',
       'origin_merc_y', 'dest_merc_x', 'dest_merc_y'],
      dtype='object')
   flight_year  flight_month  flight_dayofmonth  flight_dayofweek  deptime  \
0         2008             1                  3                 4     2003

   crsdeptime  arrtime  crsarrtime uniquecarrier  flightnum  ...  \
0        1955     2211        2225            WN        335  ...

             dest_name  dest_city  dest_state  dest_country   dest_lat  \
0  Tampa International      Tampa          FL           USA  27.975471

    dest_lon origin_merc_x origin_merc_y  dest_merc_x  dest_merc_y
0 -82.533249    -8622341.0     4713729.5   -9187559.0   3245881.75

[1 rows x 56 columns]

In [9]:
query = 'SELECT depdelay, arrdelay, airtime, carrier_name FROM flights_2008_10k LIMIT 5000'

start = time.time()
con.execute(query)
end = time.time()
print('time taken for query', end-start, 'seconds')


start = time.time()
df = pd.read_sql(query, con)
end = time.time()
print('time taken for pd read query', end-start, 'seconds')

time taken for query 0.215620756149292 seconds
time taken for pd read query 0.2323322296142578 seconds

In [10]:
cholo_query = 'SELECT AVG(arrdelay) AS AVG_arrdelay, AVG(dest_lat) AS AVG_lat, AVG(dest_lon) AS AVG_lon, dest_state FROM flights_2008_10k GROUP BY dest_state'
cholo_df = pd.read_sql(cholo_query, con)

print(cholo_df)

zmin=min(cholo_df['AVG_arrdelay'])
zmax=max(cholo_df['AVG_arrdelay'])

    AVG_arrdelay    AVG_lat     AVG_lon dest_state
0       2.241771  27.938562  -81.474062         FL
1       8.002008  39.175589  -76.668000         MD
2      24.322540  36.603217 -115.857502         NV
3       8.744578  39.023410  -92.542245         MO
4      10.322630  41.785709  -87.752872         IL
5      20.397218  33.304324 -111.902758         AZ
6       8.620501  30.962280  -97.742533         TX
7       2.182927  33.562967  -86.753525         AL
8       8.639216  36.124451  -86.677910         TN
9      25.980000  39.717314  -86.294414         IN
10     14.647887  37.805695  -76.758816         VA
11      6.912500  40.042856  -76.617340         PA
12     17.969231  35.040174 -106.609325         NM
13     14.189655  41.859535  -74.851838         NY
14     17.759259  41.938863  -72.683168         CT
15     21.500000  43.564449 -116.222698         ID
16     33.374187  35.619374 -119.822581         CA
17      9.656716  40.535783  -82.495161         OH
18     18.209581  39.858401 -104.667057         CO
19     21.906593  47.494797 -121.030524         WA
20     14.974359  34.729383  -92.224196         AR
21      9.232558  42.934553  -71.437023         NH
22      3.883495  29.993403  -90.257917         LA
23      8.129310  35.767978  -96.803534         OK
24     27.695652  41.302498  -95.894213         NE
25     28.239316  45.588729 -122.597599         OR
26     12.635417  41.724056  -71.428223         RI
27      8.966667  35.877667  -78.787560         NC
28      9.068966  38.174405  -85.736000         KY
29     27.790210  40.788415 -111.977600         UT
30     10.535714  42.212061  -83.348826         MI
31     13.846154  32.311160  -90.075900         MS

In [11]:
# Query for city data

table="flights_2008_10k"
count_query = "SELECT AVG(arrdelay) AS avg_delay, origin_city FROM {0} WHERE origin_state='NY' AND flight_dayofweek = 4 group by origin_city".format(
            table
        )

count_df = pd.read_sql(count_query, con)

count_df

   avg_delay origin_city
0   3.357143       Islip

In [12]:
# Time series
import datetime

# x: binned datetime, y: count, aggregate(count) in plotly

ts_query_x = "SELECT dep_timestamp, deptime from flights_2008_10k LIMIT 100"
min_ts_query_x = "SELECT dep_timestamp, deptime from flights_2008_10k ORDER BY dep_timestamp ASC LIMIT 1"

df=pd.read_sql(ts_query_x, con)

print(df)


start_time = datetime.datetime(2008, 1, 1)


binned_x = []
count = {}
for x_val in df['dep_timestamp']:
    elapsed_seconds = (x_val - start_time).total_seconds()
    hour = int(elapsed_seconds/3600)
    
    
    if hour not in count.keys():
        count[hour]=1
    else:
        count[hour]+=1
        

print(count)

x = []
y=[]
for key in count.keys():
    x_timestamp = start_time + datetime.timedelta(seconds=3600*key)
    x.append(x_timestamp)
    y.append(count[key])

         dep_timestamp  deptime
0  2008-01-03 20:03:00     2003
1  2008-01-03 07:54:00      754
2  2008-01-03 06:28:00      628
3  2008-01-03 09:26:00      926
4  2008-01-03 18:29:00     1829
..                 ...      ...
95 2008-01-03 15:06:00     1506
96 2008-01-03 20:39:00     2039
97 2008-01-03 09:24:00      924
98 2008-01-03 16:11:00     1611
99 2008-01-03 18:24:00     1824

[100 rows x 2 columns]
{68: 4, 55: 10, 54: 9, 57: 7, 66: 7, 67: 7, 58: 6, 64: 6, 62: 8, 65: 5, 61: 6, 56: 7, 63: 6, 69: 3, 59: 4, 70: 2, 60: 3}