In [2]:
import pandas as pd
import time
import pymapd

In [3]:
# Query loading time for localhost Omnisci server
con = pymapd.connect(user="mapd", password="HyperInteractive", host="localhost", dbname="mapd")
con

Connection(mapd://mapd:***@localhost:6274/mapd?protocol=binary)

In [4]:
query = 'SELECT * FROM flights_2008_7M LIMIT 1'
df = pd.read_sql(query, con)
print(df.columns)
print(df)

Index(['flight_year', 'flight_month', 'flight_dayofmonth', 'flight_dayofweek',
       'deptime', 'crsdeptime', 'arrtime', 'crsarrtime', 'uniquecarrier',
       'flightnum', 'tailnum', 'actualelapsedtime', 'crselapsedtime',
       'airtime', 'arrdelay', 'depdelay', 'origin', 'dest', 'distance',
       'taxiin', 'taxiout', 'cancelled', 'cancellationcode', 'diverted',
       'carrierdelay', 'weatherdelay', 'nasdelay', 'securitydelay',
       'lateaircraftdelay', 'dep_timestamp', 'arr_timestamp', 'carrier_name',
       'plane_type', 'plane_manufacturer', 'plane_issue_date', 'plane_model',
       'plane_status', 'plane_aircraft_type', 'plane_engine_type',
       'plane_year', 'origin_name', 'origin_city', 'origin_state',
       'origin_country', 'origin_lat', 'origin_lon', 'dest_name', 'dest_city',
       'dest_state', 'dest_country', 'dest_lat', 'dest_lon', 'origin_merc_x',
       'origin_merc_y', 'dest_merc_x', 'dest_merc_y'],
      dtype='object')
   flight_year  flight_month  flight_dayofmonth  flight_dayofweek  deptime  \
0         2008             1                  9                 3     1849

   crsdeptime  arrtime  crsarrtime uniquecarrier  flightnum  ...  \
0        1850     2047        2045            WN       3574  ...

                        dest_name  dest_city  dest_state  dest_country  \
0  Lambert-St Louis International   St Louis          MO           USA

    dest_lat   dest_lon origin_merc_x origin_merc_y  dest_merc_x  dest_merc_y
0  38.747688 -90.359993   -10606397.0    3458052.75  -10058828.0    4685594.0

[1 rows x 56 columns]

In [4]:
query = 'SELECT depdelay, arrdelay, airtime, carrier_name FROM flights_2008_7M LIMIT 500000'

start = time.time()
con.execute(query)
end = time.time()
print('time taken for query', end-start, 'seconds')


start = time.time()
df = pd.read_sql(query, con)
end = time.time()
print('time taken for pd read query', end-start, 'seconds')

time taken for query 4.122282981872559 seconds
time taken for pd read query 4.683841943740845 seconds

In [55]:
cholo_query = 'SELECT AVG(arrdelay) AS AVG_arrdelay, AVG(dest_lat) AS AVG_lat, AVG(dest_lon) AS AVG_lon, dest_state FROM flights_2008_7M GROUP BY dest_state'
cholo_df = pd.read_sql(cholo_query, con)

print(cholo_df)

zmin=min(cholo_df['AVG_arrdelay'])
zmax=max(cholo_df['AVG_arrdelay'])

    AVG_arrdelay    AVG_lat     AVG_lon dest_state
0       8.279094  27.691646  -81.487754         FL
1       6.171088  39.177605  -76.661601         MD
2       6.457171  36.548542 -115.706658         NV
3       7.664566  38.879310  -92.542311         MO
4      12.978013  41.903631  -88.047848         IL
5       4.263053  33.267643 -111.923395         AZ
6       7.631135  31.399786  -97.074352         TX
7       7.406687  33.244409  -86.889862         AL
8       6.743052  35.515362  -88.037277         TN
9       7.472591  39.855671  -86.299144         IN
10      7.645054  38.529164  -77.199794         VA
11      9.040688  40.120046  -76.696987         PA
12      6.097847  34.999237 -106.566299         NM
13     12.970617  41.196842  -74.467778         NY
14      7.708827  41.937668  -72.686059         CT
15      4.745017  43.506456 -115.228119         ID
16      7.239109  35.410870 -119.668546         CA
17      8.457829  40.804191  -82.425383         OH
18      6.365692  39.699963 -104.868348         CO
19      6.741360  47.455915 -121.633212         WA
20     10.536042  35.385570  -93.355081         AR
21      8.016536  42.936296  -71.437487         NH
22      7.746470  30.520814  -91.117781         LA
23      9.111242  35.725427  -96.851702         OK
24      9.502104  41.256836  -95.978529         NE
25      6.988320  45.119177 -122.607083         OR
26      7.327819  41.722178  -71.430200         RI
27      6.539358  35.448758  -80.220718         NC
28      6.463374  38.798930  -84.863628         KY
29      2.819949  40.682455 -112.037592         UT
30      5.655416  42.409517  -83.665487         MI
31      7.898634  31.647907  -89.591231         MS
32     20.861706  40.705441  -74.175897         NJ
33     10.709156  33.832225  -80.778710         SC
34      9.802125  33.601192  -84.276224         GA
35     10.025675  37.649682  -97.435213         KS
36      9.372693  43.337315  -88.382997         WI
37      9.745330  43.988281  -69.874277         ME
38      7.184239  38.347668  -81.575592         WV
39      5.880646  44.884179  -93.202466         MN
40      9.540873  44.473563  -73.149591         VT
41      9.132227  42.367941  -70.996554         MA
42      9.027812  41.709098  -92.859016         IA
43      5.370855  43.405166 -108.601543         WY
44      7.455743  43.774903  -99.374262         SD
45      2.809807  21.020834 -157.408077         HI
46      9.248322  36.762437  -99.337931         NA
47      3.427491  46.566337 -111.616537         MT
48      5.971948  47.195581  -98.378159         ND
49     11.435723  18.255973  -64.950635         VI
50     12.952299  18.428073  -66.089299         PR
51      7.250915  61.096762 -146.933999         AK

In [5]:
# Query for data-

table="flights_2008_7M"
count_query = "SELECT AVG(arrdelay) AS avg_delay, origin_city FROM {0} WHERE origin_state='NY' AND flight_dayofweek = 4 group by origin_city".format(
            table
        )

count_df = pd.read_sql(count_query, con)

count_df

    avg_delay   origin_city
0    2.629452         Islip
1    5.586013        Albany
2    6.225764       Buffalo
3    7.940241     Rochester
4    8.472286      Syracuse
5   10.433487      New York
6    5.909988  White Plains
7    5.952303      Newburgh
8   -5.524752        Elmira
9    0.890000    Binghamton
10  14.111111        Ithaca

In [162]:
# Time series
import datetime

# x: binned datetime, y: count, aggregate(count) in plotly

ts_query_x = "SELECT dep_timestamp, deptime from flights_2008_7M LIMIT 100"
min_ts_query_x = "SELECT dep_timestamp, deptime from flights_2008_7M ORDER BY dep_timestamp ASC LIMIT 1"

df=pd.read_sql(ts_query_x, con)

print(df)


start_time = datetime.datetime(2008, 1, 1)


binned_x = []
count = {}
for x_val in df['dep_timestamp']:
    elapsed_seconds = (x_val - start_time).total_seconds()
    hour = int(elapsed_seconds/3600)
    
    
    if hour not in count.keys():
        count[hour]=1
    else:
        count[hour]+=1
        

print(count)

x = []
y=[]
for key in count.keys():
    x_timestamp = start_time + datetime.timedelta(seconds=3600*key)
    x.append(x_timestamp)
    y.append(count[key])

         dep_timestamp  deptime
0  2008-01-03 20:03:00     2003
1  2008-01-03 07:54:00      754
2  2008-01-03 06:28:00      628
3  2008-01-03 09:26:00      926
4  2008-01-03 18:29:00     1829
5  2008-01-03 19:40:00     1940
6  2008-01-03 19:37:00     1937
7  2008-01-03 10:39:00     1039
8  2008-01-03 06:17:00      617
9  2008-01-03 16:20:00     1620
10 2008-01-03 07:06:00      706
11 2008-01-03 16:44:00     1644
12 2008-01-03 14:26:00     1426
13 2008-01-03 07:15:00      715
14 2008-01-03 17:02:00     1702
15 2008-01-03 10:29:00     1029
16 2008-01-03 14:52:00     1452
17 2008-01-03 07:54:00      754
18 2008-01-03 13:23:00     1323
19 2008-01-03 14:16:00     1416
20 2008-01-03 07:06:00      706
21 2008-01-03 16:57:00     1657
22 2008-01-03 19:00:00     1900
23 2008-01-03 10:39:00     1039
24 2008-01-03 08:01:00      801
25 2008-01-03 15:20:00     1520
26 2008-01-03 14:22:00     1422
27 2008-01-03 19:54:00     1954
28 2008-01-03 06:36:00      636
29 2008-01-03 07:34:00      734
..                 ...      ...
70 2008-01-03 18:13:00     1813
71 2008-01-03 08:02:00      802
72 2008-01-03 18:20:00     1820
73 2008-01-03 08:21:00      821
74 2008-01-03 17:34:00     1734
75 2008-01-03 07:12:00      712
76 2008-01-03 13:18:00     1318
77 2008-01-03 09:58:00      958
78 2008-01-03 18:59:00     1859
79 2008-01-03 15:38:00     1538
80 2008-01-03 09:33:00      933
81 2008-01-03 22:48:00     2248
82 2008-01-03 13:27:00     1327
83 2008-01-03 06:24:00      624
84 2008-01-03 16:14:00     1614
85 2008-01-03 19:17:00     1917
86 2008-01-03 18:32:00     1832
87 2008-01-03 12:29:00     1229
88 2008-01-03 12:56:00     1256
89 2008-01-03 21:18:00     2118
90 2008-01-03 09:05:00      905
91 2008-01-03 17:39:00     1739
92 2008-01-03 09:06:00      906
93 2008-01-03 08:16:00      816
94 2008-01-03 13:25:00     1325
95 2008-01-03 15:06:00     1506
96 2008-01-03 20:39:00     2039
97 2008-01-03 09:24:00      924
98 2008-01-03 16:11:00     1611
99 2008-01-03 18:24:00     1824

[100 rows x 2 columns]
{68: 4, 55: 10, 54: 9, 57: 7, 66: 7, 67: 7, 58: 6, 64: 6, 62: 8, 65: 5, 61: 6, 56: 7, 63: 6, 69: 3, 59: 4, 70: 2, 60: 3}
2008-01-03 20:00:00
2008-01-03 07:00:00
2008-01-03 06:00:00
2008-01-03 09:00:00
2008-01-03 18:00:00
2008-01-03 19:00:00
2008-01-03 10:00:00
2008-01-03 16:00:00
2008-01-03 14:00:00
2008-01-03 17:00:00
2008-01-03 13:00:00
2008-01-03 08:00:00
2008-01-03 15:00:00
2008-01-03 21:00:00
2008-01-03 11:00:00
2008-01-03 22:00:00
2008-01-03 12:00:00